@import 'https://use.typekit.net/yko7fhe.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1d262b;
  background-color: #fcfcfd;
  scroll-behavior: smooth;
}
@media (max-width: 830px) {
  html {
    font-size: 12px;
  }
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
}

ul, figure, p, h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  box-sizing: content-box;
}
button:focus {
  outline: none;
}

.Header-Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4em auto 0 auto;
  padding: 0 5em;
}
@media (max-width: 980px) {
  .Header-Main {
    margin: 2em auto 0 auto;
    padding: 0 2em;
  }
}
@media (max-width: 700px) {
  .Header-Main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.Wrapper-Logo {
  display: flex;
  align-items: center;
}
.Wrapper-Logo > * + * {
  margin-left: 1em;
}

.Menu-Header ul {
  display: flex;
}
.Menu-Header ul > * + * {
  margin-left: 2em;
}
.Menu-Header ul li {
  display: inline-block;
}
.Menu-Header ul li a {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.04px;
  color: #b6c9d8;
}
.Menu-Header ul li a:hover {
  color: #42aaff;
  transition: 0.5s;
}
@media (max-width: 700px) {
  .Menu-Header {
    display: none;
  }
}

.Wrapper-Hero {
  padding-top: 8em;
  padding-bottom: 20em;
}
@media (max-width: 1070px) {
  .Wrapper-Hero {
    margin: 0 auto;
  }
}
@media (max-width: 980px) {
  .Wrapper-Hero {
    padding-top: 6em;
  }
}
@media (max-width: 700px) {
  .Wrapper-Hero {
    padding-top: 4em;
  }
}

.Content-Hero {
  width: 37em;
  padding-left: 5em;
}
@media (max-width: 1070px) {
  .Content-Hero {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}

.Buttons-Hero {
  margin-top: 4em;
  display: inline-block;
}
.Buttons-Hero > * + * {
  margin-left: 0.7em;
}
@media (max-width: 700px) {
  .Buttons-Hero {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3em auto;
  }
  .Buttons-Hero > * + * {
    margin-left: 0;
    margin-top: 1em;
  }
}

.Title-Hero {
  font-size: 3.6rem;
  line-height: 1.5;
  letter-spacing: -0.04em;
}
@media (max-width: 1070px) {
  .Title-Hero {
    font-size: 3rem;
    padding: 0;
  }
}
@media (max-width: 980px) {
  .Title-Hero {
    padding: 0 10rem;
  }
}
@media (max-width: 700px) {
  .Title-Hero {
    font-size: 2.5rem;
    padding: 0 1rem;
  }
  .Title-Hero .Old-Style {
    font-style: italic;
  }
}

.Description-Hero {
  font-size: 1.5rem;
  line-height: 2;
  margin-top: 1em;
  font-weight: 400;
}
@media (max-width: 1070px) {
  .Description-Hero {
    padding: 0 14rem;
  }
}
@media (max-width: 980px) {
  .Description-Hero {
    padding: 0 10rem;
  }
}
@media (max-width: 700px) {
  .Description-Hero {
    padding: 0 4rem;
    font-size: 1.15rem;
  }
}

.Beta-Note {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: normal;
}

.Logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.04em;
}
.Logo a {
  color: #1d262b;
}

.Button {
  text-align: center;
  padding: 1.2rem 1rem;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.Button:hover {
  transition: 0.5s;
}
@media (max-width: 700px) {
  .Button {
    padding: 1.8rem 1rem;
    font-size: 1.3rem;
  }
}

.Button-Main {
  background-color: #42aaff;
  color: white;
  padding: 1.2rem 2.5rem;
}
.Button-Main:hover {
  background-color: #66baff;
}

.Button-Ghost {
  background-color: white;
  color: #42aaff;
  padding: 1.2rem 1.5rem;
}
.Button-Ghost:hover {
  background-color: #ecf5fe;
}

.Pill-Sky {
  padding: 0.5em 1em;
  background-color: #ecf5fe;
  color: #42aaff;
  border-radius: 2em;
}
.Pill-Sky p {
  font-size: 0.86rem;
  line-height: 1.3;
}

.Image-Hero {
  background: url(../img/Image-Hero-portrait@2x--a.png) top 8em right/577px 483px no-repeat;
}
@media (max-width: 1140px) {
  .Image-Hero {
    background: url(../img/Image-Hero-portrait@2x--b.png) top 10em right 3em/510.1px 427px no-repeat;
  }
}
@media (max-width: 1070px) {
  .Image-Hero {
    background: url(../img/Image-Hero-landscape@2x--a.png) top 30em center/745.5px 364.76px no-repeat;
  }
}
@media (max-width: 980px) {
  .Image-Hero {
    background: url(../img/Image-Hero-landscape@2x--a.png) top 32em center/745.5px 364.76px no-repeat;
  }
}
@media (max-width: 700px) {
  .Image-Hero {
    background: url(../img/Image-Hero-landscape@2x--a.png) top 33em center/414.9px 203px no-repeat;
  }
}

.Text-Sky {
  color: #42aaff;
}

.Text-Gray {
  color: #b6c9d8;
}

.Old-Style {
  font-family: "adobe-garamond-pro", serif;
}

.favicon {
  fill: #fff;
}
@media (prefers-color-scheme: dark) {
  .favicon {
    fill: #fff;
  }
}

/*# sourceMappingURL=main.css.map */
